VPN_SERVER=mpsec.mpgo.mp.br
VPN_LOGIN_TYPE=vpn_VPN_STI
TUN_IF=snx-tun
CONTAINER_NAME=client-checkpoint-vpn
VPN_IMAGE=client-checkpoint-vpn:latest
VPN_NO_DNS=true
VPN_ALLOW_FORWARDING=false

# DNS interno (split-DNS configurado no host após conectar)
VPN_DNS=10.234.11.11
VPN_SEARCH_DOMAIN=intranet.mpgo
